<header class="header">
  <div class="header-left">
    <img src="assets/logo.png" alt="DreamDo Logo" class="logo" />
    <h1 class="app-name">DreamDo</h1>
  </div>

  <div class="header-center">
    <div class="search-box">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="Tìm kiếm trên DreamDo..." />
    </div>
  </div>

  <div class="header-right">
    <div class="user-section">
      <img src="assets/avatar.png" alt="User Avatar" class="avatar" />
      <span class="username">{{username}}</span>
    </div>

    <button class="icon-btn"><i class="fa fa-cog"></i></button>
    <button class="logout-btn" (click)="logout()">
      <i class="fa fa-sign-out-alt"></i> Đăng xuất
    </button>
  </div>
</header>
