
.home {
  display: flex;
  height: calc(100vh - 60px);
}

.sidebar-left {
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.feed {
  flex-grow: 1;
  overflow-y: auto;

  padding: 20px;
  background-color: #f0f2f5;
}

.sidebar-right {
  width: 300px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
}


.sidebar-left app-friend-list,
.sidebar-right app-suggested-friend {
  flex-grow: 1;
  min-height: 0;
}
